# Gradle
.gradle/
build/
/local.properties
.idea/
*.iml
.cxx/

# Android
/captures
*.apk
*.aab
*.ap_
*.dex

# Files / output
release/
gen/
out/
generated-sources/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore

# DJI / Mapbox secret tokens (templates only checked in)
secrets.local.properties
